 {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

input{
  border-radius: 10px;
  border: none;
}

body {
    background: rgb(47, 60, 126);
    color: rgb(251,234,235);
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}